*{
	font-family: 'Montserrat', sans-serif;
}
header{
	 /*background-image: url('../images/cow-flat.png');*/
}
body{
	/*background: url('../images/cow-large.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;*/
}
.max-width-600{
	max-width: 700px;
	margin: 0 auto;
}
.abt-img{
	background-color: rgba(253,253,253,0.9);
	padding: 10px;
}
.max-width-950{
	max-width: 950px;
	margin: 0 auto;
}
.max-width-750{
	margin: 0 auto;
	max-width: 800px;
}
.max-width-1024{
	max-width: 1024px;
	margin: 0 auto;
}
.max-width-1600{
	max-width: 1600px;
	margin: 0 auto;
}
.top-div{
	background-color: rgba(256,256,256,0.9);
}
@media(min-width: 768px){	
	.top-div{
		padding: 5px 20px;
	}
	.logo-wrap img{
		max-width: 70% !important;
		height: auto;
		padding: 5px;
		position: static;
	}
	/* center navbar contents */
	.navbar .navbar-nav{
	    display: inline-block;
	    float: none;
	}
	.navbar .navbar-collapse {
	    text-align: center;
	}
	
}
@media(max-width: 767px){
	.top-div{
		padding: 5px 0px;
	}
	.logo-wrap img{
		max-width: 90% !important;
		height: auto;
		padding: 5px;
		position: static;
	}
}
@media(max-width: 603px){
	.top-head h1{
		font-size: 200%;
	}
	.logo-wrap img{
		max-width: 100% !important;
	}
}
.word-abt-company{
	background-color: rgba(256,256,256,0.6);
	color: #FFF;
}
.word-abt-company h2 em{
	color: #000;
}
.top-head small{
	font-size: 40%;
}
.main-nav{
	background-color: rgba(26,26,26,1);
}
.navbar-header{
	background-color: rgba(38,38,38,0.9);
}
.navbar-default{
		background-color: transparent;
		border: none;
	}
	
/* //center navbar contents */
header .navbar{
	margin-bottom: 0;
	/*background-color: rgba(26,26,26,0.5);*/
	border: none;
}
header .navbar-default li a{
	font-weight: 500;
}
header .navbar-default .navbar-nav>li>a,
header .navbar-default .navbar-brand,
header .navbar-default .navbar-brand:hover,
header .navbar-default .navbar-nav>a{
	color: #EA6700;
}

header .navbar-default .navbar-nav li a:hover,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover,
header .navbar-default .navbar-nav>.active>a{
	color: rgba(256,256,256,1);
}
.active-link{
	color: rgba(256,256,256,1) !important;
}
.non-active-link{
	color: #EA6700;
}
.word-abt-company-wrap{
	/*background-color: #775BA3;*/
	
}
.word-abt-company{
	line-height: 2em;
}
.word-abt-company,
.contact-div{
	padding: 20px;
}
.word-abt-company p,
.products-div .caption p{
	margin: 0 auto;
	text-align: center !important;
}
.products-div .caption p{
	/*color: #1A1A1A;*/
	color: #FFF;
}
.product-thumbs-even,
.product-thumbs-odd{
	padding: 50px;
}
.product-item{
	padding: 10px;
	margin-bottom: 10px;
}
.product-thumbs-even .product-item{
	border: solid 1px #EEE;
}
.product-thumbs-odd .product-item{
	border: solid 1px #FFF;
}
.product-thumbs-even{
	background-color: rgba(256,256,256,0.9);
}
.product-item:hover{
	background-color: rgba(234,103,0,0.9);
	transition: all 0.5s;
}
.product-item img{
	margin: 0 auto;
}
.product-thumbs-odd{
	background-color: rgba(238,238,238,0.9);
}
.word-abt-company h2,
.word-abt-company p{
	color: #000;
}
.contact-div h2{
	color: #7B50A7;
}
.word-abt-company h2,
.contact-div h2{
	text-align: center;
	margin-bottom: 30px;
}
.word-abt-company p a{
	padding: 10px 20px;
	border: solid 1px #EA6700;
	margin-top: 20px;
	background-color: #f27513;
	color: #1A1A1A;
}
.word-abt-company p a:hover{
	background-color: #EA6700;
	color: #1A1A1A;
	border: solid 1px #EA6700;
}
.products .thumbnail{
	padding-top: 30px;
}
.products .thumbnail:hover{
	border: none;
}
.word-abt-company .caption h3{
	text-align: center;
}
.thumbnail:hover{
	border: solid 1px rgba(234,103,0,0.3);
}
.word-abt-company .products h2{
	/*color: #1A1A1A;*/
	color: #000;
}
.products-div img{
	margin: auto;
}
.products-div h3 a{
	text-decoration: none;
	color: #1A1A1A;
}
.products-div .caption h3{
	color: #FFF;
}
.thumbnail{
	background-color: rgba(23,23,23,0.2);
	border: none;
}

.upcoming-events{
	background-color: rgba(26,26,26,0.95);
	color: #FFF;
	padding: 30px;
}
.events-desc{
	margin: 0 auto;
}
.social-links i{
	font-size: 4em;
	padding: 10px;
	margin: 10px;
	text-align: center;
	color: #2b2a2a;
}
.social-links a:hover i{
	color: #1A1A1A;
}
.contact-div{
	background-color: rgba(234,103,0,0.9);
}
.contact-div h2,
.contact-div address,
.contact-div h3{
	color: #FFF;
}
.social-links h3,
.contact-div h3,
.contact-div address{
	margin-left: 20px;
}
.social-links i:hover{
	color: #1A1A1A;
}
footer{
	color: #FFF;
}
footer .copyright{
	background-color: rgba(26,26,26,0.9);
}
footer p{
	text-align: center;
	padding: 5px 0;
	margin-bottom: 0;
	font-size: 80%;
}
.btm-ul{
	list-style: none;
	margin-left: 20px;
	padding: 0;
}
.btm-ul a{
	color: #FFF;
}
/* About us page */
	.about-jumbotron{
		padding-top: 0;
		padding: 30px;
		background-color: rgba(256,256,256,0.9);
	}
	.about-jumbotron h1{
		margin: 0;
		padding-bottom: 30px;
	}

/*  //About us page */

/* Contact page */
	.map{
	}
	.contact-form{
		padding-bottom: 60px;
		background-color: rgba(0, 0, 0, 0.95);
		color: #FFF;
	}
	.contact-form form h2{
		font-weight: 600;
		margin: 50px 0;
	}
	.form-group textarea{
		max-width: 100%;
	}
	.form-group{
		font-weight: 100 !important;
	}
	.form-control{
		padding: 12px 20px;
		background-color: #FAF5F5;
		border: solid 1px #EEEEEE;
	}
	.form-control:focus{
	border: 1px solid rgba(234,103,0,0.6);
	-webkit-box-shadow: inset 0 1px 5px rgba(234,103,0,0.3);
	-moz-box-shadow: inset 0 1px 5px rgba(234,103,0,0.3);
	box-shadow: inset 0 1px 5px rgba(234,103,0,0.3);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
	.contact-form form #submit{
		background-color: rgba(234,103,0,0.9);
		border: none;
		border-color: none;
		padding: 12px 20px;
		font-weight: bold;
		color: #FFF;
	}
	.contact-form form #submit:hover{
		background-color: rgba(234,103,0,1);
		color: #FFF;
	}
/* //Contact page */

/* Products page */
.products-wrap{
}
.products-thumb img{
	height: 100px;
	width: 150px;
}
.products-h1{
	margin-bottom: 0;
	padding: 30px;
	background-color: rgba(256,256,256,0.9);
}
.product-desc{
	background-color: rgba(238,238,238,0.9);
	color: #000;
	padding: 30px;
}
.product-desc-2{
	background-color: rgba(256,256,256,0.9);
}
.product-desc h2{
	color: #EA6700;
	margin-bottom: 10px;
}
.product-desc-img,
.product-desc-summary{
	padding: 20px;
}
.product-brief{
	background-color: rgba(238,238,238,0.9);
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.product-brief-2,
.milkstar-thumbs{
	background-color: rgba(256,256,256,0.9);
}
.milkstar-thumbs .product-item{
	border: solid 1px rgba(0,0,0,0.2);
}
/* //Products page */
/* results Page */
.results-content{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(256,256,256,0.9);
}
.results-content h2,
.results-content h4{
	padding-left: 30px;
	padding-right: 30px;
}
.result-img{
	margin: 0 auto;
}
.result-img img{
	margin: 0 auto;
}
/* //results page */